.project {
    display: flex;
    height: 100%;
}
/* .project ._nav {
    display: flex;
} */
.project ._nav a {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.project section {
    width: 33.33%;
    height: 88%;
}
.project section > div {
    box-shadow: 0 0 5px #ccc;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
